@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sixtyfour+Convergence&display=swap');

*{
    margin: 0; padding: 0;
    font-family: "Roboto", sans-serif;
}


.container{
    display: flex;
    justify-content: center;
}

.sub-container{
    width: 100vw;
    height: 100vh;
}

/* Header Section */

header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    position: sticky;
    padding: 40px; 
}

header img{
    height:25px; 
    width:15%;
}

header button{
    width: 12%;
    height: 40px;
    border-radius: 20px;
    border: none;
    height: 30px;
    padding: 5px 10px;
    box-sizing: border-box;
    background-color: rgb(235, 228, 228);
    font-weight: 600;
    cursor: pointer;
    transition: .3s ease;
}


header button:hover{
    opacity: .9;
    box-shadow: 5px 5px 15px rgba(190, 187, 187,.8);
}

/* Header Section */


/* First section */
.box{
    display: flex;
    justify-content: center;
    width: 80%;
    height: auto;
    padding: 30px 20px;
    box-shadow:1px 1px 10px rgb(165, 162, 162);
    border-radius: 15px;
    transition: box-shadow .15s ease,
    scale .15s ease;
}

.box img{
    height: 300px;
    width: 400px;
}

.box:hover{
    box-shadow: 2px 2px 5px rgba(148, 145, 145,.9), -1px -1px 10px rgb(165, 162, 162);
    scale: 1.01;
    
}

header, .one{
    background: url(/images/bg-hero-desktop.svg);
}

.one{
    width: 100%;
    height: 50%;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.one-two img{
    width: 750px;
}

.one-one{
    padding: 70px 20px 60px 20px;
    justify-self: end;
    width: 400px;
}

.head-line{
    font-size: 1.9em;
    font-weight: 700;
    line-height: 1.2em;
    word-spacing: 2px;
}

.para{
    color: hsl(208, 11%, 55%);
    font-size: 14px;
    word-spacing: 2px;
    margin: 25px 0px;
    font-weight: bold;
}

.one button{
    width: 200px;
    background-color: hsl(322, 100%, 66%);
    border: none;
    padding: 15px 10px;
    color: white;
    border-radius: 20px;
    margin: 10px 0px;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    transition: .3s ease;
}

.one button:hover{
    opacity: .9;
    box-shadow: 5px 5px 15px rgba(190, 187, 187,.8);

}

/* First section */

    
/* Second Section */

.two{
    display: flex;
    justify-content: space-between;
}

.two-one{
    align-self: center;
    padding-left: 60px;
}

.para-two{
    font-size: 16px;
    margin-top: 10px;
    line-height: 1.5em;
    color: hsl(208, 11%, 55%);
}

.head{
    font-size: 1.4em;
    font-weight: bold;
}

.div{
    display: flex;
    justify-content: center;
    margin: 25px 0px;
}

/* Second Section*/

/* Third section  */

.three{
    display: flex;
    justify-content: space-between;
}

.three-one{
    padding-left: 60px;
}

.three-two{
    align-self: center;
    padding-left: 60px;
}

.three .head{
    font-size: 1.4em;
    font-weight: bold;
}

/* Third section  */

/* four section */
.four{
    display: flex;
    justify-content: space-between;
}

.four-one{
    align-self: center;
    padding: 60px;
}

/* Card section */

/* four section */

.card{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    row-gap: 15px;
}

.for-card{
    display: flex;
    flex-direction: column;
    position: relative;
    top: 70px;
    text-align: center;
    padding: 20px;
    font-size: 1.3em;
    font-weight: 600;
    width: 40%;
    background-color: white;
    box-shadow: -1px -1px 4px rgb(167, 164, 164);
    border-radius: 10px;
}

  .card button{
        width: 350px;
        background-color: hsl(322, 100%, 66%);
        border: none;
        padding: 20px 10px;
        align-self: center;
        color: white;
        border-radius: 20px;
        margin: 35px 0px 20px;
        font-size: 12px;
        font-weight: bold;
        cursor: pointer;
        transition: .3s ease;
    }

/* Card section */

/* footer */

footer{
    width: 100%;
    height: 400px;
    display:flex;
    flex-direction: column;
    justify-content:end;
    padding: 20px;
    font-size: 15px;
    box-sizing: border-box;
    color: rgb(197, 191, 191);
    background-color: hsl(192, 100%, 9%);
}

.first{
    width: 300px;
}

.foot{
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 40px;
}

.first{
    display: flex;
    flex-direction: column;
    gap: 20px;
    row-gap: 20px;
}

.foot-one{
    display: flex;
    align-items: center;
    column-gap: 30px;
    height: auto;
}
.last{
    display: flex;
    justify-content: space-around;
    column-gap: 30px;
    font-size: 1.3em;
    box-sizing: border-box;
}


.last i{
    width: 18px;
    height: 18px;
    text-align: center;
    border: 2px solid white;
    padding: 7px;
    border-radius: 50%;
    transition: color .15s ease;
}

.last i:hover{
    color: hsla(0, 87%, 55%, 0.616);
    text-shadow: 2px 2px 5px hsla(0, 82%, 59%, 0.911)(0, 100%, 50%);
}


.foot-one img{
    width: 25px;
    height: 25px;
}
.second, .third{
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    justify-self: end;
    transition: color .15s ease;
}

.second span:hover, .third span:hover{
    color: hsla(0, 87%, 55%, 0.616);
    text-shadow: 2px 2px 5px hsla(0, 82%, 59%, 0.911)(0, 100%, 50%);
    cursor: pointer;

}


.copy{
    width: 100%;
    margin: 15px 0px 0px;
    text-align:center;
    font-size: 13px;
}

.logo-white {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
    width: 200px;
    margin-bottom: 20px;
  }

footer a{
    text-decoration: none;
    color: rgb(197, 191, 191);
}

/* footer */

@media screen and (max-width:320px){
    header{
        display: flex;
        justify-content: space-between;
        padding: 25px 20px;
        margin-bottom: 10px;
        background-image: url(/images/bg-hero-mobile.svg);

    }
    header button{
        width: 100px;
        font-size: 15px;
    }

    header img{
        width: 80px;
        height: 25px;
    }

    .one{
        display: flex;
        flex-direction: column;
        row-gap: 15px;
        text-align: center;
    }

    .one-one{
        padding: 0;
        width: 100%;
    }

    .head-line{
        font-size: 1.2em;
    }

    .one-two img{
        width: 100%;
    }

    .box{
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        text-align:center;
        padding: 15px;
    }

    .box div{
        padding: 0;
    }

    .box img{
        width: 100%;
    }

    .four{
        margin-bottom: 0;
    }

    .card{
        width: 100%;
        top: -30px;
    }

    .for-card button{
        width: 70%;
        height: 30px;
        font-size: 14px;
        padding: 5px;
    }

    .card .head-line{
        font-size: 1em;
        font-weight: normal;
        margin-bottom: 0px;
    }

    .for-card{
        position: relative;
        display: flex;
        top: 28px;
        width: 80%;
        height: 150px;
        padding: 10px;
    }

    .foot{
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 250px;
    }

    .first{
        width: 100%;
        margin: 30px 25px 20px;
        font-size: .8em;
        justify-content: center;
    }

    .foot-one img{
        width: 14px;
        height: 14px;
    }

    .second, .third{
text-align: center;
margin: 10px;
    }

    footer{
        height: 750px;
    }

    .last{
        margin-left: 20px;
    }

    .last i{
        width: 15px;
        height: 15px;
        text-align: center;
        border: 2px solid white;
        padding: 7px;
        border-radius: 50%;
        font-size: .8em;
        margin-bottom: 10px;
    }
}